.app {
    display: grid;
    place-items: center; 
    height: 80vh;
}

a {
    text-decoration: none;
    color: black;
}


.app__body {
    display: flex;
    background-color: #fbfbfb;
    margin-top: -50px;
    height: 75vh;
    width: 80vw;
    border-radius: 20px;
}