.app {
    display: grid;
    place-items: center; 
    height: 90vh;
}

.app__body {
    display: flex;
    background-color: #fbfbfb;
    margin-top: -50px;
    height: 70vh;
    width: 80vw;
    border-radius: 20px;
}