.sidebar {
    display: flex;
    flex-direction: column;
    flex:0.30;
}

.sidebar__header {
    display:flex;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid lightgray;
}